html, body {
    margin: 0;
    background-color: #efefef;
    font-family: sans-serif;
}
@media screen and (min-width:700px){
	.wrapper{
		width: 600px;
	}
	#loginWrapper{
		width: 600px;
	}
}
@media screen and (max-width:700px){
	.wrapper{
		width: 100%;
	}
	#loginWrapper{
		width: 100%;
	}
}
.wrapper {
    height: 700px;
    margin: 0 auto;
    background-color: #ddd;
}
#loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   	margin:0 auto;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
}
#nickWrapper {
    display: none;
    width: 100%;
}
.banner {
    height: 80px;
    width: 95%;
    margin-left: 2%;
}
.banner p {
    float: left;
    display: inline-block;
}
.controls {
    height: 190px;
    margin: 5px 0px;
    position: relative;
    margin-left: 2%;
}
#historyMsg {
	width: 98%;
    height: 350px;
    margin-left: 1%;
    background-color: #fff;
    overflow: auto;
}
#historyMsg img {
    max-width: 99%;
}
.timespan {
    color: #ddd;
}
.items {
    height: 30px;
}
.items *{
	float: left;
	margin-right: 8px;
}
.items input{
	width: 50px;
	height: 30px;
	line-height: 30px;
	background-color: #FFFFFF;
	border: 0;
}
#colorStyle {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border: 0;
    padding: 0;
}

.imageLable {
    position: relative;
}
#sendImage {
    position: absolute;
    width: 52px;
    left: 0;
    opacity: 0;
    overflow: hidden;
}


#messageInput {
    width: 95%;
    height: 90px;
    max-height: 90px;
    float:left;
    margin-top: 8px;
}
#sendBtn {
    width: 20%;
    height: 40px;
    position: absolute;
    bottom:0px;
    right: 8px;
    border:0;
    background-color: #3879D9;
    color: #FFFFFF;
}
#emojiWrapper {
    display: none;
    width: 80%;
    bottom: 105px;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}
#emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 25px;
    height: 25px;
}
#emojiWrapper img:hover {
    background-color: blue;
}
.emoji{
    display: inline;
}

